#General:

*~
*.bak
*.o
*.a
*.user

#PSoC:

*.cycdx
*.cyfit
*.rpt
*.svd
*.lst

#Very specific:

battery.cydsn/CortexM0/
battery.cydsn/codegentemp/
battery.cydsn/Generated_Source/
Backup/
battery.cydsn/battery_timing.html
battery.cydsn/battery.cyprj.Luke
battery.cydsn/Export/PSoCCreatorExportIDE.xml
battery.cywrk.Luke
battery.cydsn/battery.svd
battery.cydsn/battery.rpt
battery.cydsn/battery.cyfit
battery.cydsn/battery.cycdx
battery.cydsn/battery.cyprj.JF
battery.cywrk.JF
